[Desktop Entry]
Encoding=UTF-8
Name=DBJMIN
Name[de]=DBJMIN
Name[pt]=DBJMIN
Name[pt_BR]=DBJMIN
Comment=Multi Database Client
Comment[de]=Berechnungen durchführen
Comment[pt]=Cliente gerenciador de bancos de dados
Comment[pt_BR]=Cliente gerenciador de bancos de dados

Exec=dbjmin
Icon=dbjmin
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Utility;
X-GNOME-DocPath=gcalctool/gcalctool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=dbjmin
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-OtherBinaries=dbjmin
